.banner-container{
    margin: 15px 160px 10px 160px;
    position: relative;
}
.banner-image{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.banner-title-container{
    position: absolute;
    top: 80px;
    padding: 10px 50px;
}
.title-heading{
    font-size: 46px;
    color: #003049;
}
.title-subtitle{
    font-size: 32px;
    color: #003049;
}
.title-btn-container{
    padding-top: 30px;
}
.title-btn{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #003049;
    border: none;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}
.title-btn:hover{
    background-color: #fff;
    color: #003049;
    border: 1px solid #003049;
}


/* mobile-device */
/* Medium smartphones (between 481px and 767px) */

@media only screen and (max-width: 767px){
    .banner-container{
        margin: 5px 10px 10px 10px;
        position: relative;
    }
    .banner-image{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .banner-title-container{
        position: absolute;
        top: 25px;
        padding: 5px 30px;
    }
    .title-heading{
        font-size: 36px;
    }
    .title-subtitle{
        font-size: 26px;
    }
}


/* Large smartphones and small tablets (between 768px and 1023px) */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .banner-container{
        margin: 5px 10px 10px 10px;
        position: relative;
    }
}
