.sidebar-container{
    padding: 0px 0px 0px 20px;
    flex: 4;
}
.subscriber-container{
    margin: 20px;
}
.subscriber-text-title{
    font-size: 26px;
}
.email-subscriber{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #292828;
    outline: none;
    font-size: 18px;
    width: 330px;
    border-radius: 25px;
}
.subscriber-btn{
    background-color: #40e0d0;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    text-align: center;
    width: 350px;
    font-size: 18px;
    transition:  background-color 0.3s ease;
}
.subscriber-btn:hover{
    background-color: #000000;
    color: #fff;
}

/* Medium smartphones (between 481px and 767px) */
/* (min-width: 481px) and */
@media only screen and (max-width: 767px){
    .subscriber-container{
        display: none;
    }
    .sidebar-container{
        padding: 0;
    }
}
/* Large smartphones and small tablets (between 768px and 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .subscriber-container{
        display: none;
    }
    .sidebar-container{
        padding: 0px;   
    }
}