
.navtab-wrapper{
    flex: 7;
}
.profile-tabs-container{
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #acaaaa;
}
.tab{
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}
.tab.active{
    border-bottom: 1px solid black;
}
.blog-saved-content-container{
    margin: 50px 10px 30px 10px;
}

/* Medium smartphones (between 481px and 767px) */
@media only screen and (max-width: 767px){
    .navtab-wrapper{
        margin: 10px;
    }
}